openapi: 3.2.0
info:
  title: LLM-ready Merger API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Merger
paths:
  /api/v1/merger/info/{transaction_id}:
    get:
      operationId: merger_info_retrieve
      description: 'Get information about the specified merger/acquisition transaction.


        Parameters:

        transaction_id: The ID of the specified transaction.


        Returns:

        dict: A nested dictionary that contains:

        - An ordered array of the status changes of the transaction.

        - A dict with three keys:

        - target: The company that was merged with or acquired.

        - buyers: A list of companies that bought or merged with the target company.

        - sellers: A list of companies that sold or traded the target company.

        - Optionally the primary consideration (which is the one that happened or was most recently proposed), where the consideration contains:

        - The currency of the consideration.

        - The current gross total value of the consideration.

        - The current implied equity value of the consideration.

        - The current implied enterprise value of the consideration.

        - A list of the consideration''s details (sub-components of the consideration), where each consideration detail contains:

        - The detail scenario.

        - The detail subtype.

        - The cash or ash equivalent offered per share.

        - The number of shares in the target company.

        - The current gross total of the consideration detail.'
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergerInfo'
              examples:
                MergerInfoExample:
                  value:
                    timeline:
                    - status: Announced
                      date: '2018-03-06'
                    - status: Closed
                      date: '2018-04-08'
                    participants:
                      target:
                        company_id: 251994106
                        company_name: Kensho Technologies, Inc.
                      buyers:
                      - company_id: 21719
                        company_name: S&P Global Inc.
                      sellers:
                      - company_id: 18561
                        company_name: Accel Partners
                      - company_id: 22049
                        company_name: New Enterprise Associates, Inc.
                    consideration:
                      currency_name: US Dollar
                      current_calculated_gross_total_transaction_value: '550000000.000000'
                      current_calculated_implied_equity_value: null
                      current_calculated_implied_enterprise_value: null
                      details:
                      - scenario: Stock Lump Sum
                        subtype: Combination Consideration - Equity Component
                        cash_or_cash_equivalent_per_target_share_unit: null
                        number_of_target_shares_sought: null
                        current_calculated_gross_value_of_consideration: null
                      - scenario: Cash Lump Sum
                        subtype: Combination Consideration - Cash Component
                        cash_or_cash_equivalent_per_target_share_unit: null
                        number_of_target_shares_sought: null
                        current_calculated_gross_value_of_consideration: null
                  summary: '554979212'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no merger info was found for the given transaction_id.
      tags:
      - Merger
      summary: Merger info retrieve
      x-summary-source: derived
  /api/v1/merger/info/{transaction_id}/advisors/{advised_company_id}:
    get:
      operationId: merger_info_advisors_retrieve
      description: Get the advisor companies and their roles for the specified company in the specified merger/acquisition transaction.
      parameters:
      - in: path
        name: advised_company_id
        schema:
          type: integer
        required: true
      - in: path
        name: transaction_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorsResponse'
              examples:
                AdvisorsForCompanyInMergerExample:
                  value:
                    advisors:
                    - advisor_company_id: 1062800
                      advisor_company_name: Goodwin Procter LLP
                      advisor_type_name: Legal Advisor
                  summary: 'transaction id: 554979212, company id: 251994106'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Merger
      summary: Merger info advisors retrieve
      x-summary-source: derived
components:
  schemas:
    MergerInfoTimeline:
      type: object
      properties:
        status:
          type: string
        date:
          type: string
          format: date
      required:
      - date
      - status
    MergerInfo:
      type: object
      properties:
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/MergerInfoTimeline'
        participants:
          $ref: '#/components/schemas/MergerInfoParticipants'
        consideration:
          allOf:
          - $ref: '#/components/schemas/MergerInfoConsideration'
      required:
      - consideration
      - participants
      - timeline
    MergerInfoParticipants:
      type: object
      properties:
        target:
          $ref: '#/components/schemas/TransactionInfoParticipant'
        buyers:
          type: array
          items:
            $ref: '#/components/schemas/TransactionInfoParticipant'
        sellers:
          type: array
          items:
            $ref: '#/components/schemas/TransactionInfoParticipant'
      required:
      - buyers
      - sellers
      - target
    TransactionInfoParticipant:
      type: object
      properties:
        company_id:
          type: integer
        company_name:
          type: string
      required:
      - company_id
      - company_name
    MergerInfoConsiderationDetail:
      type: object
      properties:
        scenario:
          type: string
        subtype:
          type: string
        cash_or_cash_equivalent_per_target_share_unit:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        number_of_target_shares_sought:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        current_calculated_gross_value_of_consideration:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
    AdvisorResponse:
      type: object
      description: Advisor response with fee information added to original fields.
      properties:
        advisor_company_id:
          type: integer
        advisor_company_name:
          type: string
        advisor_type_name:
          type: string
        is_lead:
          type:
          - boolean
          - 'null'
          description: Whether this is a lead advisor
        advisor_fee_amount:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,16}(?:\.\d{0,4})?$
          description: Advisor fee amount
        advisor_fee_currency:
          type:
          - string
          - 'null'
          description: Currency of the advisor fee (ISO-4217 code)
      required:
      - advisor_company_id
      - advisor_company_name
      - advisor_type_name
    AdvisorsResponse:
      type: object
      properties:
        advisors:
          type: array
          items:
            $ref: '#/components/schemas/AdvisorResponse'
      required:
      - advisors
    MergerInfoConsideration:
      type: object
      properties:
        currency_name:
          type: string
        current_calculated_gross_total_transaction_value:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        current_calculated_implied_equity_value:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        current_calculated_implied_enterprise_value:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        details:
          type: array
          items:
            $ref: '#/components/schemas/MergerInfoConsiderationDetail'
      required:
      - details
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
