openapi: 3.2.0
info:
  title: LLM-ready Cusip API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: CUSIP
paths:
  /api/v1/cusip/{security_id}:
    get:
      operationId: Get CUSIP
      description: Get the CUSIP for a given security_id
      parameters:
      - in: path
        name: security_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CusipResponse'
              examples:
                GetCusipExample:
                  value:
                    cusip: Y11757104
                  summary: '20231631'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no CUSIP was found for the given security_id.
      tags:
      - CUSIP
      summary: Get CUSIP
      x-summary-source: derived
components:
  schemas:
    CusipResponse:
      type: object
      description: Response fields for get_cusip
      properties:
        cusip:
          type: string
      required:
      - cusip
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
