openapi: 3.2.0
info:
  title: LLM-ready Fundingrounds API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Funding Rounds
paths:
  /api/v1/fundingrounds/investor/{company_id}:
    get:
      operationId: fundingrounds_investor_retrieve
      description: Get the rounds of funding that the specified company invested in.
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundsOfFunding'
              examples:
                GetTheRoundsOfFundingThatTheSpecifiedCompanyBoughtInto.:
                  value:
                    rounds_of_funding:
                    - transaction_id: 444715
                      funding_round_notes: e-Builder, Inc. announced a strategic round of funding from new investor The McGraw-Hill Companies, Inc. on May 1, 2000.
                      closed_date: '2000-05-01'
                      funding_type: Venture
                    - transaction_id: 383751
                      funding_round_notes: Gather, Inc. announced that it will raise $2,400,000 through the issuance of equity shares on November 17, 2010. The securities will be issued pursuant to Regulation D.
                      closed_date: '2010-11-24'
                      funding_type: Series E
                  summary: 'company id: 21719'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Funding Rounds
      summary: Fundingrounds investor retrieve
      x-summary-source: derived
  /api/v1/fundingrounds/target/{company_id}:
    get:
      operationId: fundingrounds_target_retrieve
      description: Get the rounds of funding that the specified company was in.
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundsOfFunding'
              examples:
                RoundsOfFundingForCompanyExample:
                  value:
                    rounds_of_funding:
                    - transaction_id: 334220
                      funding_round_notes: Kensho Technologies Inc. announced that it has received funding from new investor, Impresa Management LLC in 2013.
                      closed_date: '2013-12-31'
                      funding_type: Seed
                    - transaction_id: 242311
                      funding_round_notes: Kensho Technologies Inc. announced that it will receive $740,000 in funding on January 29, 2014. The company will issue convertible debt securities in the transaction. The company will issue securities pursuant to exemption provided under Regulation D.
                      closed_date: '2014-02-13'
                      funding_type: Debt
                  summary: 'company id: 251994106'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Funding Rounds
      summary: Fundingrounds target retrieve
      x-summary-source: derived
components:
  schemas:
    RoundsOfFunding:
      type: object
      properties:
        rounds_of_funding:
          type: array
          items:
            $ref: '#/components/schemas/RoundOfFunding'
      required:
      - rounds_of_funding
    RoundOfFunding:
      type: object
      properties:
        transaction_id:
          type: integer
        funding_round_notes:
          type: string
        closed_date:
          type:
          - string
          - 'null'
          format: date
        funding_type:
          type: string
      required:
      - funding_round_notes
      - funding_type
      - transaction_id
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
