openapi: 3.2.0
info:
  title: LLM-ready Mergers API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Mergers
paths:
  /api/v1/mergers/{company_id}:
    get:
      operationId: mergers_retrieve
      description: Get the merger/acquisition transactions for the specified company.
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergersResponse'
              examples:
                MergersForCompanyExample:
                  value:
                    target:
                    - transaction_id: 8709303
                      merger_title: Closed M/A of S&P Global Inc.
                      closed_date: '2006-02-28'
                    - transaction_id: 25613276
                      merger_title: Closed M/A of S&P Global Inc.
                      closed_date: '2007-07-31'
                    buyer:
                    - transaction_id: 307783118
                      merger_title: Closed M/A of SNL Financial LC
                      closed_date: '2015-09-01'
                    - transaction_id: 554979212
                      merger_title: Closed M/A of Kensho Technologies, Inc.
                      closed_date: '2018-04-08'
                    seller:
                    - transaction_id: 2443407
                      merger_title: Effective M/A of McGraw-Hill Companies Inc., Lifetime Learning Assets
                      closed_date: null
                    - transaction_id: 4210932
                      merger_title: Closed M/A of Interactive Data Real Time Services, Inc.
                      closed_date: '2003-02-28'
                  summary: '21719'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Mergers
      summary: Mergers retrieve
      x-summary-source: derived
components:
  schemas:
    MergersResponse:
      type: object
      properties:
        target:
          type: array
          items:
            $ref: '#/components/schemas/MergerResponse'
          title: target_company_mergers
        buyer:
          type: array
          items:
            $ref: '#/components/schemas/MergerResponse'
          title: buyer_company_mergers
        seller:
          type: array
          items:
            $ref: '#/components/schemas/MergerResponse'
          title: seller_company_mergers
      required:
      - buyer
      - seller
      - target
    MergerResponse:
      type: object
      properties:
        transaction_id:
          type: integer
        merger_title:
          type: string
        closed_date:
          type:
          - string
          - 'null'
          format: date
      required:
      - merger_title
      - transaction_id
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
