openapi: 3.2.0
info:
  title: LLM-ready Statements API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Statements
paths:
  /api/v1/statements/:
    post:
      operationId: Get Financial Statement
      description: 'Get a financial statement, such as a balance sheet, income statement, or cashflow statement for a given company_id.


        For a public company, the annual period_type returns annual calendar year values. For a private company, the annual period_type returns annual fiscal year values.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialStatementRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FinancialStatementRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FinancialStatementRequest'
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatementResponse'
              examples:
                IncomeStatementExample:
                  value:
                    results:
                      '24937':
                        currency: USD
                        periods:
                          FY2023:
                            period_end_date: '2023-09-30'
                            num_months: 12
                            statements:
                            - name: Income Statement
                              line_items:
                              - name: Revenues
                                value: '383285000000.000000'
                              - name: Total Revenues
                                value: '383285000000.000000'
                              - name: Cost Of Revenues
                                value: '214137000000.000000'
                              - name: Cost of Goods Sold, Total
                                value: '214137000000.000000'
                              - name: Gross Profit
                                value: '169148000000.000000'
                              - name: Selling General & Admin Expenses (Summary Subtotal)
                                value: '24932000000.000000'
                              - name: Selling General & Admin Expenses, Total
                                value: '24932000000.000000'
                              - name: R&D Expenses
                                value: '29915000000.000000'
                              - name: Other Operating Expenses, Total
                                value: '54847000000.000000'
                              - name: Operating Income
                                value: '114301000000.000000'
                              - name: Other Non Operating Expenses, Total
                                value: '-565000000.000000'
                              - name: Other Non Operating Income (Expenses)
                                value: '-565000000.000000'
                              - name: EBT, Excl. Unusual Items
                                value: '113736000000.000000'
                              - name: EBT, Incl. Unusual Items
                                value: '113736000000.000000'
                              - name: Income Tax Expense
                                value: '16741000000.000000'
                              - name: Earnings From Continuing Operations
                                value: '96995000000.000000'
                              - name: Net Income to Company
                                value: '96995000000.000000'
                              - name: Net Income - (IS)
                                value: '96995000000.000000'
                              - name: Net Income to Common Incl Extra Items
                                value: '96995000000.000000'
                              - name: Net Income to Common Excl. Extra Items
                                value: '96995000000.000000'
                      '1861276':
                        currency: SEK
                        periods:
                          PED2023-08-31:
                            period_end_date: '2023-08-31'
                            num_months: 12
                            statements:
                            - name: Income Statement
                              line_items:
                              - name: Revenues
                                value: '34550436000.000000'
                              - name: Other Revenues, Total
                                value: '118932000.000000'
                              - name: Total Revenues
                                value: '34669368000.000000'
                              - name: Cost of Goods Sold, Total
                                value: '11526445000.000000'
                              - name: Gross Profit
                                value: '23142923000.000000'
                              - name: Selling General & Admin Expenses, Total
                                value: '7228026000.000000'
                              - name: Depreciation & Amortization - (IS)
                                value: '976888000.000000'
                              - name: Other Operating Expenses
                                value: '14427229000.000000'
                              - name: Other Operating Expenses, Total
                                value: '22632143000.000000'
                              - name: Operating Income
                                value: '510780000.000000'
                              - name: Interest Expense, Total
                                value: '-200817000.000000'
                              - name: Interest And Investment Income
                                value: '1475000.000000'
                              - name: Net Interest Expenses
                                value: '-199342000.000000'
                              - name: Other Non Operating Expenses, Total
                                value: '69466000.000000'
                              - name: Income (Loss) On Equity Invest.
                                value: '83747000.000000'
                              - name: Other Non Operating Income (Expenses)
                                value: '-14281000.000000'
                              - name: EBT, Excl. Unusual Items
                                value: '380904000.000000'
                              - name: EBT, Incl. Unusual Items
                                value: '380904000.000000'
                              - name: Income Tax Expense
                                value: '94020000.000000'
                              - name: Earnings From Continuing Operations
                                value: '286884000.000000'
                              - name: Extraordinary Item & Accounting Change
                                value: '-31544000.000000'
                              - name: Net Income to Company
                                value: '255340000.000000'
                              - name: Net Income - (IS)
                                value: '255340000.000000'
                    errors: {}
                  summary: 24937, 1861276
          description: Indicates a successful request.
        '400':
          description: Indicates that the input parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Statements
      summary: Get financial statement
      x-summary-source: derived
  /api/v1/statements/{company_id}/{statement_type}/{period_type}/{start_year}/{end_year}/{start_quarter}/{end_quarter}:
    get:
      operationId: Get Financial Statement_2
      description: 'Get a financial statement, such as a balance sheet, income statement, or cashflow statement for a given company_id.


        For a public company, the annual period_type returns annual calendar year values. For a private company, the annual period_type returns annual fiscal year values.'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      - in: path
        name: end_quarter
        schema:
          type: string
          pattern: ^([1-4])|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: end_year
        schema:
          type: string
          pattern: ^([0-9]{4})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: period_type
        schema:
          type: string
          pattern: ^(?i:annual)|(?i:quarterly)|(?i:ytd)|(?i:ltm)|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_quarter
        schema:
          type: string
          pattern: ^([1-4])|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_year
        schema:
          type: string
          pattern: ^([0-9]{4})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: statement_type
        schema:
          type: string
          pattern: ^(?i:balance_sheet)|(?i:cash_flow)|(?i:income_statement)|(?i:bs)|(?i:cashflow)|(?i:cf)|(?i:income_stmt)|(?i:is)$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatementResponse'
              examples:
                IncomeStatementExample:
                  value:
                    calendar_type: CALENDAR
                    currency: USD
                    statements:
                      '2023':
                        Revenues: '383285000000.000000'
                        Total Revenues: '383285000000.000000'
                        Cost Of Revenues: '214137000000.000000'
                        Cost of Goods Sold, Total: '214137000000.000000'
                        Gross Profit: '169148000000.000000'
                        Selling General & Admin Expenses (Summary Subtotal): '24932000000.000000'
                        Selling General & Admin Expenses, Total: '24932000000.000000'
                        R&D Expenses: '29915000000.000000'
                        Other Operating Expenses, Total: '54847000000.000000'
                        Operating Income: '114301000000.000000'
                        Interest Expense, Total: '-3933000000.000000'
                        Interest And Investment Income: '3750000000.000000'
                        Net Interest Expenses: '-183000000.000000'
                        Other Non Operating Expenses, Total: '-382000000.000000'
                        Other Non Operating Income (Expenses): '-382000000.000000'
                        EBT, Excl. Unusual Items: '113736000000.000000'
                        EBT, Incl. Unusual Items: '113736000000.000000'
                        Income Tax Expense: '16741000000.000000'
                        Earnings From Continuing Operations: '96995000000.000000'
                        Net Income to Company: '96995000000.000000'
                        Net Income - (IS): '96995000000.000000'
                        Net Income to Common Incl Extra Items: '96995000000.000000'
                        Net Income to Common Excl. Extra Items: '96995000000.000000'
                  summary: '24937'
          description: Indicates a successful request.
        '400':
          description: Indicates that the input parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Statements
      summary: Get financial statement 2
      x-summary-source: derived
components:
  schemas:
    NullEnum:
      enum:
      - null
    StartQuarterEnum:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: '* `1` - 1

        * `2` - 2

        * `3` - 3

        * `4` - 4'
    PeriodTypeBe5Enum:
      enum:
      - annual
      - quarterly
      - ytd
      - ltm
      type: string
      description: '* `annual` - annual

        * `quarterly` - quarterly

        * `ytd` - ytd

        * `ltm` - ltm'
    FinancialStatementCurrencyResponse:
      type: object
      properties:
        currency:
          type:
          - string
          - 'null'
        periods:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Period'
      required:
      - currency
      - periods
    EndQuarterEnum:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: '* `1` - 1

        * `2` - 2

        * `3` - 3

        * `4` - 4'
    FinancialStatementRequest:
      type: object
      description: Request fields for get_financial_statement
      properties:
        statement_type:
          $ref: '#/components/schemas/StatementTypeEnum'
        period_type:
          oneOf:
          - $ref: '#/components/schemas/PeriodTypeBe5Enum'
          - $ref: '#/components/schemas/NullEnum'
        company_ids:
          type: array
          items:
            type: integer
          minItems: 1
        start_year:
          type:
          - integer
          - 'null'
          maximum: 9999
          minimum: 1000
        end_year:
          type:
          - integer
          - 'null'
          maximum: 9999
          minimum: 1000
        start_quarter:
          oneOf:
          - $ref: '#/components/schemas/StartQuarterEnum'
          - $ref: '#/components/schemas/NullEnum'
        end_quarter:
          oneOf:
          - $ref: '#/components/schemas/EndQuarterEnum'
          - $ref: '#/components/schemas/NullEnum'
        calendar_type:
          oneOf:
          - $ref: '#/components/schemas/CalendarTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        num_periods:
          type:
          - integer
          - 'null'
          maximum: 99
          minimum: 1
        num_periods_back:
          type:
          - integer
          - 'null'
          maximum: 99
          minimum: 0
      required:
      - company_ids
      - statement_type
    LineItem:
      type: object
      properties:
        name:
          type: string
        value:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        sources:
          type: array
          items: {}
      required:
      - name
      - value
    StatementTypeEnum:
      enum:
      - balance_sheet
      - bs
      - cash_flow
      - cashflow
      - cf
      - income_statement
      - income_stmt
      - is
      type: string
      description: '* `balance_sheet` - balance_sheet

        * `bs` - bs

        * `cash_flow` - cash_flow

        * `cashflow` - cashflow

        * `cf` - cf

        * `income_statement` - income_statement

        * `income_stmt` - income_stmt

        * `is` - is'
    Period:
      type: object
      properties:
        period_end_date:
          type: string
          format: date
        num_months:
          type:
          - integer
          - 'null'
        line_item:
          $ref: '#/components/schemas/LineItem'
      required:
      - line_item
      - num_months
      - period_end_date
    CalendarTypeEnum:
      enum:
      - fiscal
      - calendar
      type: string
      description: '* `fiscal` - fiscal

        * `calendar` - calendar'
    FinancialStatementResponse:
      type: object
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FinancialStatementCurrencyResponse'
        errors:
          type: object
          additionalProperties:
            type: string
            title: error
      required:
      - errors
      - results
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
