openapi: 3.2.0
info:
  title: LLM-ready Price Chart API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Price Chart
paths:
  /api/v1/price_chart/{trading_item_id}/{start_date}/{end_date}/{periodicity}/{adjusted}:
    get:
      operationId: Get Price Chart
      description: Get the candlestick price chart as a PNG image for a given trading item between start_date and end_date inclusive.
      parameters:
      - in: path
        name: adjusted
        schema:
          type: string
          pattern: ^(un)?adjusted$
        required: true
      - in: path
        name: end_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: periodicity
        schema:
          type: string
          pattern: ^(?i:day)|(?i:week)|(?i:month)|(?i:year)|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: trading_item_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            image/png:
              schema:
                type: string
                format: binary
          description: Returns a PNG image.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that the information was not found.
      tags:
      - Price Chart
      summary: Get price chart
      x-summary-source: derived
components:
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
