openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Id API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Id
paths:
  /api/v1/id/{cusip}:
    get:
      operationId: CUSIP to Identification Triple
      description: Get the most likely trading_item_id, security_id, and company_id with a given CUSIP.
      parameters:
      - in: path
        name: cusip
        schema:
          type: string
          pattern: ^[a-zA-Z0-9*@#]{8}[0-9]$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentificationTripleWithCompanyInfoResponse'
              examples:
                CUSIPToIDTripleExample:
                  value:
                    trading_item_id: 2590360
                    security_id: 2590359
                    company_id: 24937
                    company_name: Apple, Inc.
                    ticker: NasdaqGS:AAPL
                  summary: US0378331005
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Id
  /api/v1/id/{isin}:
    get:
      operationId: ISIN to Identification Triple
      description: Get the most likely trading_item_id, security_id, and company_id with a given ISIN.
      parameters:
      - in: path
        name: isin
        schema:
          type: string
          pattern: ^[a-zA-Z]{2}[a-zA-Z0-9]{9}[0-9]$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentificationTripleWithCompanyInfoResponse'
              examples:
                ISINToIDTripleExample:
                  value:
                    trading_item_id: 2590360
                    security_id: 2590359
                    company_id: 24937
                    company_name: Apple, Inc.
                    ticker: NasdaqGS:AAPL
                  summary: US0378331005
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Id
  /api/v1/id/{ticker}:
    get:
      operationId: Ticker to Identification Triple
      description: Get the most likely trading_item_id, security_id, and company_id with a given ticker symbol.
      parameters:
      - in: path
        name: ticker
        schema:
          type: string
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentificationTripleWithCompanyInfoResponse'
              examples:
                TickerToIDTripleExample:
                  value:
                    trading_item_id: 2590360
                    security_id: 2590359
                    company_id: 24937
                    company_name: Apple, Inc.
                    ticker: NasdaqGS:AAPL
                  summary: AAPL
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Id
  /api/v1/id/{ticker}/exchange_code/{exchange_code}:
    get:
      operationId: Ticker to Identification Triple_2
      description: Get the most likely trading_item_id, security_id, and company_id with a given ticker symbol.
      parameters:
      - in: path
        name: exchange_code
        schema:
          type: string
        required: true
      - in: path
        name: ticker
        schema:
          type: string
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentificationTripleWithCompanyInfoResponse'
              examples:
                TickerToIDTripleExample:
                  value:
                    trading_item_id: 2590360
                    security_id: 2590359
                    company_id: 24937
                    company_name: Apple, Inc.
                    ticker: NasdaqGS:AAPL
                  summary: AAPL
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Id
components:
  schemas:
    IdentificationTripleWithCompanyInfoResponse:
      type: object
      description: Response fields for a request returning an identification triple with company info
      properties:
        trading_item_id:
          type: integer
          nullable: true
        security_id:
          type: integer
          nullable: true
        company_id:
          type: integer
        company_name:
          type: string
        ticker:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      required:
      - company_id
      - company_name
      - country
      - security_id
      - ticker
      - trading_item_id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
