openapi: 3.2.0
info:
  title: LLM-ready IDS API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: IDS
paths:
  /api/v1/ids:
    post:
      operationId: Unified Identification Triple
      description: Get the most likely trading_item_id, security_id, and company_id for various identifier types (ISIN, CUSIP, Company ID, ticker, or company name).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedIdentificationTripleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UnifiedIdentificationTripleRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnifiedIdentificationTripleRequest'
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedIdentificationTripleResponse'
              examples:
                MultipleIdentifierTypes:
                  value:
                    '37833100':
                      trading_item_id: 2590360
                      security_id: 2590359
                      company_id: 24937
                      company_name: Apple, Inc.
                      ticker: NasdaqGS:AAPL
                    AAPL:
                      trading_item_id: 2590360
                      security_id: 2590359
                      company_id: 24937
                      company_name: Apple, Inc.
                      ticker: NasdaqGS:AAPL
                    US0378331005:
                      trading_item_id: 2590360
                      security_id: 2590359
                      company_id: 24937
                      company_name: Apple, Inc.
                      ticker: NasdaqGS:AAPL
                    Apple Inc.:
                      trading_item_id: 2590360
                      security_id: 2590359
                      company_id: 24937
                      company_name: Apple, Inc.
                      ticker: NasdaqGS:AAPL
                    C_874695:
                      trading_item_id: 2590360
                      security_id: 2590359
                      company_id: 24937
                      company_name: Apple, Inc.
                      ticker: NasdaqGS:AAPL
                  summary: POST with ticker, ISIN, CUSIP, company name, and company ID
                EdgeCases:PrivateCompaniesAndFailedSearches:
                  value:
                    Private Company LLC:
                      company_id: 12345
                      security_id: null
                      trading_item_id: null
                      company_name: Private Company LLC
                      ticker: null
                    NonExistentCompany:
                      error: 'No identification triple found for the provided identifier: NonExistentCompany of type: ticker_or_company_name'
                  summary: POST showing how private companies and not-found identifiers are handled
          description: Indicates a successful request. Returns a mapping of identifiers to their identification triples.
        '400':
          description: Indicates that the request is invalid or missing required parameters.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - IDS
      summary: Unified identification triple
      x-summary-source: derived
components:
  schemas:
    UnifiedIdentificationTripleRequest:
      type: object
      description: Request fields for unified_identification_triple
      properties:
        identifiers:
          type: array
          items:
            type: string
            maxLength: 255
          description: List of identifiers to resolve (can include ISINs, CUSIPs, company names, company IDs, tickers, or company names)
          maxItems: 100
          minItems: 1
      required:
      - identifiers
    IdentificationTripleWithCompanyInfoOrError:
      oneOf:
      - $ref: '#/components/schemas/IdentificationTripleWithCompanyInfoResponse'
      - $ref: '#/components/schemas/IdentificationTripleError'
    IdentificationTripleError:
      type: object
      description: Serializer for error response
      properties:
        error:
          type: string
      required:
      - error
    IdentificationTripleWithCompanyInfoResponse:
      type: object
      description: Response fields for a request returning an identification triple with company info
      properties:
        trading_item_id:
          type:
          - integer
          - 'null'
        security_id:
          type:
          - integer
          - 'null'
        company_id:
          type: integer
        company_name:
          type: string
        ticker:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      required:
      - company_id
      - company_name
      - country
      - security_id
      - ticker
      - trading_item_id
    UnifiedIdentificationTripleResponse:
      type: object
      description: 'Response fields for unified_identification_triple.


        Maps identifiers to either identification triples or error messages.'
      properties:
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IdentificationTripleWithCompanyInfoOrError'
          readOnly: true
      required:
      - data
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
