openapi: 3.2.0
info:
  title: LLM-ready Trading Item Groups API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Trading Item Groups
paths:
  /api/v1/trading_item_groups/exchange/{exchange_code}:
    get:
      operationId: Get Trading Items By Exchange Code
      description: Get the list of trading items that are traded on an exchange via exchange_code
      parameters:
      - in: path
        name: exchange_code
        schema:
          type: string
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingItemListResponse'
              examples:
                GetTradingItemsByExchangeCodeExample:
                  value:
                    trading_items:
                    - 377792098
                    - 717416858
                    - 574417220
                    - 1676244760
                    - 2642515
                    - 1758738960
                    - 1889641821
                    - 116446381
                    - 607035788
                  summary: NASDAQ
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Trading Item Groups
      summary: Get trading items by exchange code
      x-summary-source: derived
components:
  schemas:
    TradingItemListResponse:
      type: object
      description: Response fields for get_trading_item_by_exchange_code, get_trading_items
      properties:
        trading_items:
          type: array
          items:
            type: integer
            title: trading_item_id
      required:
      - trading_items
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
