openapi: 3.2.0
info:
  title: LLM-ready Latest API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Latest
paths:
  /api/v1/latest:
    get:
      operationId: Get Latest Date
      description: 'Get the latest annual reporting year, latest quarterly reporting quarter and year, and current date in UTC. The output is a dictionary with the following schema::


        {

        "annual": {

        "latest_year": int

        },

        "quarterly": {

        "latest_quarter": int,

        "latest_year": int

        },

        "now": {

        "current_year": int,

        "current_quarter": int,

        "current_month": int,

        "current_date": str # in format Y-m-d

        }

        }'
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestResponse'
              examples:
                GetLatestExample:
                  value:
                    annual:
                      latest_year: 2023
                    quarterly:
                      latest_quarter: 3
                      latest_year: 2024
                    now:
                      current_year: 2024
                      current_quarter: 4
                      current_month: 10
                      current_date: '2024-10-24'
                  summary: Get Latest example
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Latest
      summary: Get latest date
      x-summary-source: derived
components:
  schemas:
    Quarterly:
      type: object
      properties:
        latest_quarter:
          type: integer
        latest_year:
          type: integer
      required:
      - latest_quarter
      - latest_year
    Annual:
      type: object
      properties:
        latest_year:
          type: integer
      required:
      - latest_year
    LatestResponse:
      type: object
      description: Response fields for latest
      properties:
        annual:
          $ref: '#/components/schemas/Annual'
        quarterly:
          $ref: '#/components/schemas/Quarterly'
        now:
          $ref: '#/components/schemas/Now'
      required:
      - annual
      - now
      - quarterly
    Now:
      type: object
      properties:
        current_year:
          type: integer
        current_quarter:
          type: integer
        current_month:
          type: integer
        current_date:
          type: string
          format: date
      required:
      - current_date
      - current_month
      - current_quarter
      - current_year
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
