openapi: 3.2.0
info:
  title: LLM-ready Transcript API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Transcript
paths:
  /api/v1/transcript/{key_dev_id}:
    get:
      operationId: Get Transcript
      description: 'Get the transcript for a given key_dev_id


        The transcript is a list of components comprising component_type, person_name,

        and text'
      parameters:
      - in: path
        name: key_dev_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptResponse'
              examples:
                TranscriptExample:
                  value:
                    transcript:
                    - component_type: Presentation Operator Message
                      person_name: Operator
                      text: Good morning, and welcome to S&P Global's Fourth Quarter and Full Year 2024 Earnings Conference Call. I'd like to inform you that this call is being recorded for broadcast. [Operator Instructions] To access the webcast and slides, go to investor.spglobal.com. [Operator Instructions] I would now like to introduce Mr. Mark Grant, Senior Vice President of Investor Relations for S&P Global. Sir, you may begin.
                  summary: '1916266380'
          description: Indicates a successful request.
        '400':
          description: Indicates that request parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no transcript was found for the given key_dev_id.
      tags:
      - Transcript
      summary: Get transcript
      x-summary-source: derived
  /api/v1/transcript/{key_dev_id}/raw:
    get:
      operationId: Get Raw Transcript
      description: 'Get the raw transcript for a given key_dev_id


        The raw transcript is a single string that indicates speakers by

        prepending `[speaker]:` to the transcript of the speaker''s speech'
      parameters:
      - in: path
        name: key_dev_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawTranscriptResponse'
              examples:
                RawTranscriptExample:
                  value:
                    transcript: 'Operator: Good morning, and welcome to S&P Global''s Fourth Quarter and Full Year 2024 Earnings Conference Call. I''d like to inform you that this call is being recorded for broadcast. [Operator Instructions] To access the webcast and slides, go to investor.spglobal.com. [Operator Instructions] I would now like to introduce Mr. Mark Grant, Senior Vice President of Investor Relations for S&P Global. Sir, you may begin.


                      Mark Grant: Good morning, and thank you for joining today''s S&P Global Fourth Quarter and Full Year 2024 Earnings Call. Presenting on today''s call …'
                  summary: '1916266380'
          description: Indicates a successful request.
        '400':
          description: Indicates that request parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no transcript was found for the given key_dev_id.
      tags:
      - Transcript
      summary: Get raw transcript
      x-summary-source: derived
components:
  schemas:
    RawTranscriptResponse:
      type: object
      description: Response fields for get_raw_transcript.
      properties:
        transcript:
          type: string
      required:
      - transcript
    TranscriptResponse:
      type: object
      description: Response fields for get_transcript.
      properties:
        transcript:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptEntry'
      required:
      - transcript
    TranscriptEntry:
      type: object
      description: Serializer for individual transcript entries.
      properties:
        component_type:
          type: string
        person_name:
          type: string
          maxLength: 255
        text:
          type: string
          maxLength: 255
      required:
      - component_type
      - person_name
      - text
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
