openapi: 3.2.0
info:
  title: LLM-ready Earnings API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Earnings
paths:
  /api/v1/earnings/{company_id}:
    get:
      operationId: Get Earnings Calls
      description: 'Get metadata (name, key dev id, and datetime) for earnings calls for a given company_id.


        The response comprises metadata for all upcoming and past earnings calls in

        descending order by datetime. The key dev id can be used with the transcript

        endpoints to retrieve the earnings call transcript.'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsResponse'
              examples:
                EarningsExample:
                  value:
                    earnings:
                    - name: S&P Global Inc., Q1 2025 Earnings Call, Apr 29, 2025
                      key_dev_id: 1916266380
                      datetime: '2025-02-11 13:30:00.000'
                  summary: '24937'
          description: Indicates a successful request.
        '400':
          description: Indicates that request parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Earnings
      summary: Get earnings calls
      x-summary-source: derived
  /api/v1/earnings/{company_id}/dates:
    get:
      operationId: Get Earnings Calls Dates
      description: Get the earnings calls in datetime for a given company_id in UTC
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsDatesResponse'
              examples:
                EarningsDatesExample:
                  value:
                    earnings:
                    - '2024-02-01T22:00:00.000'
                    - '2023-11-02T21:00:00.000'
                    - '2023-08-03T21:00:00.000'
                  summary: '24937'
          description: Indicates a successful request.
        '400':
          description: Indicates that request parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Earnings
      summary: Get earnings calls dates
      x-summary-source: derived
components:
  schemas:
    EarningsDatesResponse:
      type: object
      description: Response fields for get_earnings_dates
      properties:
        earnings:
          type: array
          items: {}
      required:
      - earnings
    EarningsEntry:
      type: object
      description: Serializer for individual earnings entries.
      properties:
        name:
          type: string
          maxLength: 255
        key_dev_id:
          type: integer
        datetime:
          type: string
          format: date-time
      required:
      - datetime
      - key_dev_id
      - name
    EarningsResponse:
      type: object
      description: Response fields for get_earnings.
      properties:
        earnings:
          type: array
          items:
            $ref: '#/components/schemas/EarningsEntry'
      required:
      - earnings
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
