openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Ciqpro API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Ciqpro
paths:
  /api/v1/ciqpro/{company_ids}:
    get:
      operationId: ciqpro_retrieve
      description: Given a list of company IDs, return a list of those IDs to their CIQ Pro keys.
      parameters:
      - in: path
        name: company_ids
        schema:
          type: string
          pattern: ^(\d+(,\d+)*)$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CIQProKeys'
              examples:
                Example:
                  value:
                    results:
                    - company_id: '21719'
                      ciqpro_key: '4023623'
                  summary: '21719'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization is missing or invalid.
      tags:
      - Ciqpro
components:
  schemas:
    CIQProKey:
      type: object
      properties:
        company_id:
          type: integer
        ciqpro_key:
          type: integer
      required:
      - ciqpro_key
      - company_id
    CIQProKeys:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/CIQProKey'
      required:
      - results
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
