openapi: 3.2.0
info:
  title: LLM-ready Securities API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Securities
paths:
  /api/v1/securities/{company_id}:
    get:
      operationId: Get Securities
      description: 'Get the list of securities for a given company_id. Returns a dictionary of shape {"securities": List[]}'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritiesListResponse'
              examples:
                GetSecuritiesExample:
                  value:
                    securities:
                    - 309323987
                    - 309323988
                    - 309328521
                    - 309328522
                    - 1763982503
                    - 1773481318
                    - 171381676
                  summary: '21719'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no securities were found for the given company_id.
      tags:
      - Securities
      summary: Get securities
      x-summary-source: derived
  /api/v1/securities/{company_id}/primary:
    get:
      operationId: Get Primary Security
      description: 'Get the primary security for a given company_id. Returns a dictionary of shape {"primary_security": }'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimarySecurityResponse'
              examples:
                GetPrimarySecurityExample:
                  value:
                    primary_security: 2629107
                  summary: '21719'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no primary security was found for the given company_id.
      tags:
      - Securities
      summary: Get primary security
      x-summary-source: derived
components:
  schemas:
    PrimarySecurityResponse:
      type: object
      description: Response fields for get_primary_security
      properties:
        primary_security:
          type: integer
      required:
      - primary_security
    SecuritiesListResponse:
      type: object
      description: Response fields for get_securities
      properties:
        securities:
          type: array
          items:
            type: integer
            title: security_id
      required:
      - securities
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
