openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Mergers API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Mergers
paths:
  /api/v1/mergers/{company_id}:
    get:
      operationId: mergers_retrieve
      description: Get the merger/acquisition transactions for the specified company.
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergersResponse'
              examples:
                MergersForCompanyExample:
                  value:
                    target:
                    - transaction_id: 8709303
                      merger_title: Closed M/A of S&P Global Inc.
                      closed_date: '2006-02-28'
                    - transaction_id: 25613276
                      merger_title: Closed M/A of S&P Global Inc.
                      closed_date: '2007-07-31'
                    buyer:
                    - transaction_id: 307783118
                      merger_title: Closed M/A of SNL Financial LC
                      closed_date: '2015-09-01'
                    - transaction_id: 554979212
                      merger_title: Closed M/A of Kensho Technologies, Inc.
                      closed_date: '2018-04-08'
                    seller:
                    - transaction_id: 2443407
                      merger_title: Effective M/A of McGraw-Hill Companies Inc., Lifetime Learning Assets
                      closed_date: null
                    - transaction_id: 4210932
                      merger_title: Closed M/A of Interactive Data Real Time Services, Inc.
                      closed_date: '2003-02-28'
                  summary: '21719'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Mergers
components:
  schemas:
    MergerResponse:
      type: object
      properties:
        transaction_id:
          type: integer
        merger_title:
          type: string
        closed_date:
          type: string
          format: date
          nullable: true
      required:
      - merger_title
      - transaction_id
    MergersResponse:
      type: object
      properties:
        target:
          type: array
          items:
            $ref: '#/components/schemas/MergerResponse'
          title: target_company_mergers
        buyer:
          type: array
          items:
            $ref: '#/components/schemas/MergerResponse'
          title: buyer_company_mergers
        seller:
          type: array
          items:
            $ref: '#/components/schemas/MergerResponse'
          title: seller_company_mergers
      required:
      - buyer
      - seller
      - target
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
