openapi: 3.2.0
info:
  title: LLM-ready Trading Items API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Trading Items
paths:
  /api/v1/trading_items/{security_id}:
    get:
      operationId: Get Trading Items
      description: 'Get the list of trading items for a given security_id. Returns a dictionary of shape {"trading_items": List[]}'
      parameters:
      - in: path
        name: security_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingItemListResponse'
              examples:
                GetTradingItemsExample:
                  value:
                    trading_items:
                    - 261650546
                    - 20241713
                    - 20241714
                    - 32517177
                    - 6163311
                    - 419702702
                    - 27568602
                    - 267867699
                  summary: '20231631'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no trading items were found for the given security_id.
      tags:
      - Trading Items
      summary: Get trading items
      x-summary-source: derived
  /api/v1/trading_items/{security_id}/primary:
    get:
      operationId: Get Primary Trading Item
      description: 'Get the primary trading item for a given security_id. Returns a dictionary of shape {"primary_trading_item": }'
      parameters:
      - in: path
        name: security_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryTradingItemResponse'
              examples:
                GetPrimaryTradingItemExample:
                  value:
                    primary_trading_item: 2610695
                  summary: '2610694'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no primary trading item was found for the given security_id.
      tags:
      - Trading Items
      summary: Get primary trading item
      x-summary-source: derived
components:
  schemas:
    PrimaryTradingItemResponse:
      type: object
      description: Response fields for get_primary_trading_item
      properties:
        primary_trading_item:
          type: integer
      required:
      - primary_trading_item
    TradingItemListResponse:
      type: object
      description: Response fields for get_trading_item_by_exchange_code, get_trading_items
      properties:
        trading_items:
          type: array
          items:
            type: integer
            title: trading_item_id
      required:
      - trading_items
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
