openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Users API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Users
paths:
  /api/v1/users/permissions:
    get:
      operationId: users_permissions_retrieve
      description: Return a list of all permissions that the request user has.
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionsResponse'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Users
  /api/v1/users/refresh_access_token:
    get:
      operationId: Refresh Access Token
      description: Refresh a client's access token, given their valid refresh token.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
              examples:
                RefreshAccessTokenExample:
                  value:
                    access_token: <a very long token>
                  summary: send a refresh token, get an access token
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Users
    post:
      operationId: Refresh Access Token_2
      description: Refresh a client's access token, given their valid refresh token.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefreshToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RefreshToken'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
              examples:
                RefreshAccessTokenExample:
                  value:
                    access_token: <a very long token>
                  summary: send a refresh token, get an access token
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Users
components:
  schemas:
    PermissionsResponse:
      type: object
      description: Response fields for get_permissions
      properties:
        permissions:
          type: array
          items:
            type: string
      required:
      - permissions
    AccessToken:
      type: object
      properties:
        access_token:
          type: string
      required:
      - access_token
    RefreshToken:
      type: object
      properties:
        refresh_token:
          type: string
      required:
      - refresh_token
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
