openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Price Chart API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Price Chart
paths:
  /api/v1/price_chart/{trading_item_id}/{start_date}/{end_date}/{periodicity}/{adjusted}:
    get:
      operationId: Get Price Chart
      description: Get the candlestick price chart as a PNG image for a given trading item between start_date and end_date
        inclusive.
      parameters:
      - in: path
        name: adjusted
        schema:
          type: string
          pattern: ^(un)?adjusted$
        required: true
      - in: path
        name: end_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: periodicity
        schema:
          type: string
          pattern: ^(?i:day)|(?i:week)|(?i:month)|(?i:year)|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: trading_item_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            image/png:
              schema:
                type: string
                format: binary
          description: Returns a PNG image.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that the information was not found.
      tags:
      - Price Chart
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
