openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async user-info API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://nerd.kensho.com
tags:
- name: user-info
paths:
  /me:
    get:
      tags:
      - user-info
      operationId: me_get
      description: Returns information about the authenticated user.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/me_response'
          description: Indicates that user information was successfully obtained and returned.
        '403':
          description: Indicates that an invalid authorization occurred or that user data was not found.
      summary: Get Current User Information
      x-openapi-router-controller: openapi_server.__main__
      security:
      - BearerAuth:
        - token_info
      - APIKey:
        - kensho_nerd_token
components:
  schemas:
    me_response:
      example:
        scopes:
        - openid
        - email
        email: me@legos.com
        uid: uid value
        token: super_secret_token
      properties:
        scopes:
          items:
            type: string
          type: array
        email:
          type: string
        uid:
          type: string
        token:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
