openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Securities API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Securities
paths:
  /api/v1/securities/{company_id}:
    get:
      operationId: Get Securities
      description: 'Get the list of securities for a given company_id. Returns a dictionary of shape {"securities": List[<security_id>]}'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritiesListResponse'
              examples:
                GetSecuritiesExample:
                  value:
                    securities:
                    - 309323987
                    - 309323988
                    - 309328521
                    - 309328522
                    - 1763982503
                    - 1773481318
                    - 171381676
                  summary: '21719'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no securities were found for the given company_id.
      tags:
      - Securities
  /api/v1/securities/{company_id}/primary:
    get:
      operationId: Get Primary Security
      description: 'Get the primary security for a given company_id. Returns a dictionary of shape {"primary_security": <security_id>}'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimarySecurityResponse'
              examples:
                GetPrimarySecurityExample:
                  value:
                    primary_security: 2629107
                  summary: '21719'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no primary security was found for the given company_id.
      tags:
      - Securities
components:
  schemas:
    SecuritiesListResponse:
      type: object
      description: Response fields for get_securities
      properties:
        securities:
          type: array
          items:
            type: integer
            title: security_id
      required:
      - securities
    PrimarySecurityResponse:
      type: object
      description: Response fields for get_primary_security
      properties:
        primary_security:
          type: integer
      required:
      - primary_security
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
