openapi: 3.2.0
info:
  title: LLM-ready Pricing API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Pricing
paths:
  /api/v1/pricing/{trading_item_id}/{start_date}/{end_date}/{periodicity}/{adjusted}:
    get:
      operationId: Get Stock Prices
      description: Get stock prices for a given trading_item_id and its associated currency between start_date and end_date inclusive, with latest available data being from the previous day, and the most recent price will always be the closing price from the day before. The returned prices include the open, close, high, low prices and volume.
      parameters:
      - in: path
        name: adjusted
        schema:
          type: string
          pattern: ^(un)?adjusted$
        required: true
      - in: path
        name: end_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: periodicity
        schema:
          type: string
          pattern: ^(?i:day)|(?i:week)|(?i:month)|(?i:year)|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: trading_item_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesResponse'
              examples:
                GetPricesExample:
                  value:
                    currency: USD
                    prices:
                    - date: '2021-01-04T00:00:00.000'
                      open: '133.520000'
                      high: '133.611600'
                      low: '126.760000'
                      close: '129.410000'
                      volume: '143301900'
                    - date: '2021-01-05T00:00:00.000'
                      open: '128.890000'
                      high: '131.740000'
                      low: '128.430000'
                      close: '131.010000'
                      volume: '97664900'
                  summary: '2590360'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Pricing
      summary: Get stock prices
      x-summary-source: derived
  /api/v1/pricing/{trading_item_id}/metadata:
    get:
      operationId: Get Historical Metadata
      description: Get the historical metadata of the trading item id, such as currency, symbol, exchange_name, instrument_type, and first_trade_date.
      parameters:
      - in: path
        name: trading_item_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryMetadataResponse'
              examples:
                HistoryMetadataExample:
                  value:
                    currency: USD
                    symbol: AAPL
                    exchange_name: NasdaqGS
                    instrument_type: Equity
                    first_trade_date: '1980-12-12'
                  summary: '2590360'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that history metadata was not found for the given trading_item_id.
      tags:
      - Pricing
      summary: Get historical metadata
      x-summary-source: derived
components:
  schemas:
    HistoryMetadataResponse:
      type: object
      description: Response fields for get_history_metadata
      properties:
        currency:
          type: string
        symbol:
          type: string
        exchange_name:
          type: string
        instrument_type:
          type: string
        first_trade_date:
          type: string
          format: date
      required:
      - currency
      - exchange_name
      - first_trade_date
      - instrument_type
      - symbol
    Prices:
      type: object
      description: Response fields a single price
      properties:
        date:
          type: string
        open:
          type: string
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        high:
          type: string
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        low:
          type: string
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        close:
          type: string
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        volume:
          type: string
          format: decimal
          pattern: ^-?\d{0,19}(?:\.\d{0,0})?$
      required:
      - close
      - date
      - high
      - low
      - open
      - volume
    PricesResponse:
      type: object
      description: Response fields for get_prices
      properties:
        currency:
          type: string
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Prices'
        errors:
          type: array
          items:
            type: string
      required:
      - currency
      - prices
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
