openapi: 3.2.0
info:
  title: LLM-ready Market Cap API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Market Cap
paths:
  /api/v1/market_cap/{company_id}/{start_date}/{end_date}:
    get:
      operationId: Get Market Caps
      description: 'Get the market caps between start and end date inclusive.


        The returned data includes market_cap, tev (Total Enterprise Value), shares_outstanding, and its currency.'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      - in: path
        name: end_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_date
        schema:
          type: string
          pattern: ^([0-9]{4}-[0-9]{2}-[0-9]{2})|(?i:none)|(?i:null)$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketCapsResponse'
              examples:
                GetMarketCapsExample:
                  value:
                    currency: USD
                    market_caps:
                    - date: '2025-02-16'
                      market_cap: '3674399055800.000000'
                      tev: '3629830055800.000000'
                      shares_outstanding: 15022073000
                  summary: '2590360'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Market Cap
      summary: Get market caps
      x-summary-source: derived
components:
  schemas:
    MarketCapsResponse:
      type: object
      description: Response fields for get_market_caps
      properties:
        currency:
          type:
          - string
          - 'null'
        market_caps:
          type: array
          items:
            $ref: '#/components/schemas/MarketCap'
        errors:
          type: array
          items:
            type: string
      required:
      - currency
      - market_caps
    MarketCap:
      type: object
      description: 'Serializer for a single market cap.


        Note: The market cap response includes TEV and shares outstanding.'
      properties:
        date:
          type: string
          format: date
        market_cap:
          type: string
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        tev:
          type: string
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        shares_outstanding:
          type: integer
      required:
      - date
      - market_cap
      - shares_outstanding
      - tev
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
