openapi: 3.2.0
info:
  description: This page contains the full API reference for Kensho NERD.
  title: NERD Service User Info API
  version: '1.0'
servers:
- url: https://nerd.kensho.com
tags:
- name: User Info
paths:
  /me:
    get:
      tags:
      - User Info
      operationId: me_get
      description: Returns information about the authenticated user.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/me_response'
          description: Indicates that user information was successfully obtained and returned.
        '403':
          description: Indicates that an invalid authorization occurred or that user data was not found.
      summary: Get Current User Information
      x-openapi-router-controller: openapi_server.__main__
      security:
      - BearerAuth:
        - token_info
      - APIKey:
        - kensho_nerd_token
components:
  schemas:
    me_response:
      example:
        scopes:
        - openid
        - email
        email: me@legos.com
        uid: uid value
        token: super_secret_token
      properties:
        scopes:
          items:
            type: string
          type: array
        email:
          type: string
        uid:
          type: string
        token:
          type: string
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller_.info_from_BearerAuth
    APIKey:
      type: apiKey
      name: kensho_nerd_token
      in: cookie
      x-apikeyInfoFunc: openapi_server.controllers.security_controller_.info_from_CookieAuth
