openapi: 3.2.0
info:
  title: LLM-ready Auditors API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Auditors
paths:
  /api/v1/auditors/:
    post:
      operationId: auditors_create
      description: Get the financial auditors of a given company id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditorRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuditorRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AuditorRequest'
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditorResponse'
              examples:
                AuditorExample:
                  value:
                    '21719':
                      CY2025/FY2025:
                      - auditor_company_id: '97518'
                        auditor_name: Ernst & Young LLP
                      CY2024/FY2024:
                      - auditor_company_id: '97518'
                        auditor_name: Ernst & Young LLP
                  summary: '21719'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization is missing or invalid.
      tags:
      - Auditors
      summary: Auditors create
      x-summary-source: derived
components:
  schemas:
    NullEnum:
      enum:
      - null
    AuditorRequest:
      type: object
      description: Request fields for post_financial_auditors
      properties:
        company_id:
          type: integer
        start_year:
          type:
          - integer
          - 'null'
          maximum: 9999
          minimum: 1000
        end_year:
          type:
          - integer
          - 'null'
          maximum: 9999
          minimum: 1000
        calendar_type:
          oneOf:
          - $ref: '#/components/schemas/CalendarTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
      required:
      - company_id
    AuditorEntry:
      type: object
      properties:
        auditor_company_id:
          type: string
        auditor_name:
          type: string
      required:
      - auditor_company_id
      - auditor_name
    AuditorResponse:
      type: object
      properties:
        results:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/components/schemas/AuditorEntry'
        errors:
          type: object
          additionalProperties:
            type: string
            title: error
      required:
      - errors
      - results
    CalendarTypeEnum:
      enum:
      - fiscal
      - calendar
      type: string
      description: '* `fiscal` - fiscal

        * `calendar` - calendar'
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
