openapi: 3.2.0
info:
  title: LLM-ready Ciqpro API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Ciqpro
paths:
  /api/v1/ciqpro/{company_ids}:
    get:
      operationId: ciqpro_retrieve
      description: Given a list of company IDs, return a list of those IDs to their CIQ Pro keys.
      parameters:
      - in: path
        name: company_ids
        schema:
          type: string
          pattern: ^(\d+(,\d+)*)$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CIQProKeys'
              examples:
                Example:
                  value:
                    results:
                    - company_id: '21719'
                      ciqpro_key: '4023623'
                  summary: '21719'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization is missing or invalid.
      tags:
      - Ciqpro
      summary: Ciqpro retrieve
      x-summary-source: derived
components:
  schemas:
    CIQProKeys:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/CIQProKey'
      required:
      - results
    CIQProKey:
      type: object
      properties:
        company_id:
          type: integer
        ciqpro_key:
          type: integer
      required:
      - ciqpro_key
      - company_id
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
