openapi: 3.2.0
info:
  title: LLM-ready Competitors API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Competitors
paths:
  /api/v1/competitors/{company_id}:
    get:
      operationId: Get Competitors from Company
      description: 'Get the list of company_id and company_name that are competitors of company_id, optionally filtered by the competitor_source type.


        Parameters:

        company_id (int): The requested company_id

        competitor_source (CompetitorSourceType): The source type of the competitor information: ''filing'' (from SEC filings), ''key_dev'' (from key developments), ''contact'' (from contact relationships), ''third_party'' (from third-party sources), ''self_identified'' (self-identified), ''named_by_competitor'' (from competitor''s perspective)."

        Returns a dictionary of shape {"competitors": List[{“company_id”: , "company_name": }]},'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competitors'
              examples:
                CompetitorsExample:
                  value:
                    competitors:
                    - company_id: 8122148
                      company_name: Experian plc
                    - company_id: 109450
                      company_name: MarketAxess Holdings Inc.
                    - company_id: 4973712
                      company_name: Stride, Inc.
                  summary: 21719, named_by_competitor
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Competitors
      summary: Get competitors from company
      x-summary-source: derived
  /api/v1/competitors/{company_id}/{competitor_source}:
    get:
      operationId: Get Competitors from Company_2
      description: 'Get the list of company_id and company_name that are competitors of company_id, optionally filtered by the competitor_source type.


        Parameters:

        company_id (int): The requested company_id

        competitor_source (CompetitorSourceType): The source type of the competitor information: ''filing'' (from SEC filings), ''key_dev'' (from key developments), ''contact'' (from contact relationships), ''third_party'' (from third-party sources), ''self_identified'' (self-identified), ''named_by_competitor'' (from competitor''s perspective)."

        Returns a dictionary of shape {"competitors": List[{“company_id”: , "company_name": }]},'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      - in: path
        name: competitor_source
        schema:
          type: string
          pattern: ^(?i:filing)|(?i:key_dev)|(?i:contact)|(?i:third_party)|(?i:self_identified)|(?i:named_by_competitor)$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competitors'
              examples:
                CompetitorsExample:
                  value:
                    competitors:
                    - company_id: 8122148
                      company_name: Experian plc
                    - company_id: 109450
                      company_name: MarketAxess Holdings Inc.
                    - company_id: 4973712
                      company_name: Stride, Inc.
                  summary: 21719, named_by_competitor
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Competitors
      summary: Get competitors from company 2
      x-summary-source: derived
components:
  schemas:
    Competitors:
      type: object
      description: Response fields for get_competitors_by_company
      properties:
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/CompanyResponse'
      required:
      - competitors
    CompanyResponse:
      type: object
      properties:
        company_id:
          type: integer
        company_name:
          type: string
      required:
      - company_id
      - company_name
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
