openapi: 3.2.0
info:
  description: This page contains the full API reference for Kensho NERD.
  title: NERD Service Upload URL API
  version: '1.0'
servers:
- url: https://nerd.kensho.com
tags:
- name: Upload URL
paths:
  /api/v1/upload-url:
    get:
      tags:
      - Upload URL
      summary: Get An Upload URL For Uploading A Text File
      operationId: api_annotations_upload_url
      description: This endpoint returns an upload URL, the form fields, and the job ID. The upload URL expires after **15** minutes.
      responses:
        '200':
          description: Indicates that the upload URL was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nerd_upload_url_response'
        '401':
          description: Indicates that the authentication information is missing or invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '429':
          description: Indicates that user request rate has been exceeded.
        '500':
          description: Internal server error when generating the upload URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error message indicating the failure reason.
                    example: Attempting to generate the upload URL for the user, but failed due to an S3 client error.
        5XX:
          description: Indicates that an unexpected error occurred and should be further investigated.
      security:
      - BearerAuth:
        - token_info
components:
  schemas:
    nerd_upload_url_response:
      type: object
      properties:
        url:
          type: string
          description: The URL to POST the document upload to. Returns 200 on success. Refer to the AWS pre-signed URL documentation for detailed information on specific response codes and their meanings.
          example: https://example-bucket.s3.amazonaws.com/
        fields:
          type: object
          additionalProperties:
            type: string
          description: Fields required in the form data of the POST request for uploading the document to the `url`.
        job_id:
          type: string
          description: A unique identifier for tracking the upload job.
          example: fakeJobId1234567890
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller_.info_from_BearerAuth
    APIKey:
      type: apiKey
      name: kensho_nerd_token
      in: cookie
      x-apikeyInfoFunc: openapi_server.controllers.security_controller_.info_from_CookieAuth
