openapi: 3.0.2
info:
  version: 3.0.0
  title: Kensho Extract annotations-async Trading Item Groups API
  description: "Kensho Extract allows users to quickly transform their unstructured documents into a machine-readable format\
    \ that identifies titles, subtitles, paragraphs, tables, and footers detected within the document in their natural reading\
    \ order. \nKensho Extract interprets messy page layout, structuring text into cohesive paragraphs that can be effectively\
    \ analyzed and searched. <br><br> The Kensho Extract API V3 has incorporated changes to how users must call the API.\n\
    Please note there are more required fields in API V3 than API V2 (deprecated). The following fields are *mandatory* for\
    \ `/v3/extractions`: file, document_type, ocr and enhanced_table_extraction. <br><br> API V3 introduces new upload and\
    \ download functionality, allowing the upload of the original document and retrieval of the extracted document output\
    \ via pre-signed URLs. The pre-signed URLs expire after 15 minutes. <br> These new endpoints must be called in the following\
    \ order.\n  - `/v3/extractions/upload-url`\n    - followed by POST'ing the document to the `url` provided in the response\n\
    \  - `/v3/extractions/upload-complete`\n  - `/v3/extractions/download-url/{request_id}`\n    - followed by a calling the\
    \ GET `output_url` provided in the response\n"
servers:
- url: https://kfinance.kensho.com
tags:
- name: Trading Item Groups
paths:
  /api/v1/trading_item_groups/exchange/{exchange_code}:
    get:
      operationId: Get Trading Items By Exchange Code
      description: Get the list of trading items that are traded on an exchange via exchange_code
      parameters:
      - in: path
        name: exchange_code
        schema:
          type: string
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingItemListResponse'
              examples:
                GetTradingItemsByExchangeCodeExample:
                  value:
                    trading_items:
                    - 377792098
                    - 717416858
                    - 574417220
                    - 1676244760
                    - 2642515
                    - 1758738960
                    - 1889641821
                    - 116446381
                    - 607035788
                  summary: NASDAQ
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Trading Item Groups
components:
  schemas:
    TradingItemListResponse:
      type: object
      description: Response fields for get_trading_item_by_exchange_code, get_trading_items
      properties:
        trading_items:
          type: array
          items:
            type: integer
            title: trading_item_id
      required:
      - trading_items
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
