openapi: 3.2.0
info:
  title: LLM-ready Isin API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Isin
paths:
  /api/v1/isin/{security_id}:
    get:
      operationId: Get ISIN
      description: Get the ISIN for a given security_id
      parameters:
      - in: path
        name: security_id
        schema:
          type: integer
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsinResponse'
              examples:
                GetIsinExample:
                  value:
                    isin: US0378331005
                  summary: '2590359'
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
        '404':
          description: Indicates that no ISIN was found for the given security_id.
      tags:
      - Isin
      summary: Get ISIN
      x-summary-source: derived
components:
  schemas:
    IsinResponse:
      type: object
      description: Response fields for get_isin
      properties:
        isin:
          type: string
      required:
      - isin
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
