openapi: 3.2.0
info:
  title: LLM-ready Segments API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Segments
paths:
  /api/v1/segments/:
    post:
      operationId: Get Segments
      description: 'Get the templated segments of a given company_id for a given start_year, start_quarter, end_year and end_quarter.


        Segments can be filtered on the segment_type for ''business'' for Line of Business Segments or ''geographic'' for Geographic Segments.


        Parameters:

        company_id (int, required): The company_id requested

        segment_type (SegmentType): The segment type to filter on, either “business” or “geographic”. Defaults to “business”.

        period_type (PeriodType): The period_type requested for. Can be “annual”, “quarterly”, "ytd". Defaults to “annual” when start_quarter and end_quarter are None.

        start_year (int): The starting year

        start_quarter (int): The starting quarter

        end_year (int): The ending year

        end_quarter (int): The ending quarter

        calendar_type (CalendarType): The type of calendar lookup to use, either "fiscal" or "calendar". Defaults to "fiscal".

        num_periods (int): Instead of using absolute time lookup, you can look up segments by time relative to now. Defaults to 5 if no other time parameters are present.

        num_periods_back (int): Instead of using absolute time lookup, you can look up segments by time relative to now. Defaults to 0.


        Returns:

        dict: A nested dictionary where the first-level keys are "results" and "errors".

        Within "results", there is one key per company ID, with a metadata value "currency" under that, and "periods"

        Within the "periods" dictionary,

        - The first-level keys are strings representing the time period of either calendar years or quarters (e.g., ''FY2024'' for a fiscal year, or ''FY2024Q1'', ''FY2024Q2'' for fiscal quarters).

        - Each period contains ''period_end_date'', ''num_months'', and a ''segments'' array.

        - Each segment in the array has a ''name'' (either line of business segment names specific to a company''s organization or geographic segment like ''Asia'', ''United States'', ''Rest of World'') and ''line_items'' array.

        - Each line item in the array contains ''name'' (e.g., ''Revenue'', ''Operating Income'') and ''value'' fields.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SegmentsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SegmentsRequest'
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsResponse'
              examples:
                SegmentsExample:
                  value:
                    results:
                      '21719':
                        currency: USD
                        periods:
                          CY2024Q1:
                            period_end_date: '2024-03-31'
                            num_months: 3
                            segments:
                            - name: Commodity Insights
                              line_items:
                              - name: Operating Income
                                value: 263000000
                              - name: Revenue
                                value: 559000000
                            - name: Corporate
                              line_items:
                              - name: Operating Income
                                value: -35000000
                            - name: Indices
                              line_items:
                              - name: Operating Income
                                value: 283000000
                              - name: Revenue
                                value: 387000000
                            - name: Intersegment Elimination
                              line_items:
                              - name: Revenue
                                value: -45000000
                            - name: Market Intelligence
                              line_items:
                              - name: Operating Income
                                value: 374000000
                              - name: Revenue
                                value: 1142000000
                            - name: Mobility
                              line_items:
                              - name: Operating Income
                                value: 147000000
                              - name: Revenue
                                value: 386000000
                            - name: Ratings
                              line_items:
                              - name: Operating Income
                                value: 688000000
                              - name: Revenue
                                value: 1062000000
                          CY2024Q2:
                            period_end_date: '2024-06-30'
                            num_months: 3
                            segments:
                            - name: Commodity Insights
                              line_items:
                              - name: Operating Income
                                value: 245000000
                              - name: Revenue
                                value: 516000000
                            - name: Corporate
                              line_items:
                              - name: Operating Income
                                value: -38000000
                            - name: Indices
                              line_items:
                              - name: Operating Income
                                value: 275000000
                              - name: Revenue
                                value: 389000000
                            - name: Intersegment Elimination
                              line_items:
                              - name: Revenue
                                value: -46000000
                            - name: Market Intelligence
                              line_items:
                              - name: Operating Income
                                value: 379000000
                              - name: Revenue
                                value: 1155000000
                            - name: Mobility
                              line_items:
                              - name: Operating Income
                                value: 164000000
                              - name: Revenue
                                value: 400000000
                            - name: Ratings
                              line_items:
                              - name: Operating Income
                                value: 747000000
                              - name: Revenue
                                value: 1135000000
                    errors: {}
                  summary: 21719, business, quarterly
          description: Indicates a successful request.
        '400':
          description: Indicates that the input parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Segments
      summary: Get segments
      x-summary-source: derived
  /api/v1/segments/{company_id}/{segment_type}/{period_type}/{start_year}/{end_year}/{start_quarter}/{end_quarter}:
    get:
      operationId: Get Segments_2
      description: 'Get the templated segments of a given company_id for a given start_year, start_quarter, end_year and end_quarter.


        Segments can be filtered on the segment_type for ''business'' for Line of Business Segments or ''geographic'' for Geographic Segments.


        Parameters:

        company_id (int, required): The company_id requested

        segment_type (SegmentType): The segment type to filter on, either “business” or “geographic”. Defaults to “business”.

        period_type (PeriodType): The period_type requested for. Can be “annual”, “quarterly”, "ytd". Defaults to “annual” when start_quarter and end_quarter are None.

        start_year (int): The starting calendar year

        start_quarter (int): The starting calendar quarter

        end_year (int): The ending calendar year

        end_quarter (int): The ending calendar quarter


        Returns:

        dict: A nested dictionary where the first-level keys are "calendar_type" and "segments".

        Within the "segments" dictionary,

        - The first-level keys are strings representing the time period of either calendar years or quarters (e.g., ''2024'' for a year, or ''2024Q1'', ''2024Q2'' for quarters).

        - The second-level keys are the segment names, either line of business segment names specific to a company''s organization or geographic segment (e.g., ''Asia'', ''United States'', ''Rest of World'').

        - Each segment contains the value of the line item (e.g., ''Revenue'', ''Operating Income'')


        An example response:

        {

        "calendar_type": "CALENDAR",

        "currency": "USD",

        "segments": {

        "2024Q1": {

        "Commodity Insights": {

        "Operating Income": 263000000.0,

        "Revenue": 559000000.0

        },

        "Corporate": {

        "Operating Income": -35000000.0

        },

        },

        "2024Q2": {

        "Commodity Insights": {

        "Operating Income": 245000000.0,

        "Revenue": 516000000.0

        },

        "Corporate": {

        "Operating Income": -38000000.0

        },

        }

        }...'
      parameters:
      - in: path
        name: company_id
        schema:
          type: integer
        required: true
      - in: path
        name: end_quarter
        schema:
          type: string
          pattern: ^([1-4])|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: end_year
        schema:
          type: string
          pattern: ^([0-9]{4})|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: period_type
        schema:
          type: string
          pattern: ^(?i:annual)|(?i:quarterly)|(?i:ytd)|(?i:ltm)|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: segment_type
        schema:
          type: string
          pattern: ^(?i:business)|(?i:geographic)$
        required: true
      - in: path
        name: start_quarter
        schema:
          type: string
          pattern: ^([1-4])|(?i:none)|(?i:null)$
        required: true
      - in: path
        name: start_year
        schema:
          type: string
          pattern: ^([0-9]{4})|(?i:none)|(?i:null)$
        required: true
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentsResponse'
              examples:
                SegmentsExample:
                  value:
                    calendar_type: CALENDAR
                    currency: USD
                    segments:
                      2024Q1:
                        Commodity Insights:
                          Operating Income: 263000000
                          Revenue: 559000000
                        Corporate:
                          Operating Income: -35000000
                        Indices:
                          Operating Income: 283000000
                          Revenue: 387000000
                        Intersegment Elimination:
                          Revenue: -45000000
                        Market Intelligence:
                          Operating Income: 374000000
                          Revenue: 1142000000
                        Mobility:
                          Operating Income: 147000000
                          Revenue: 386000000
                        Ratings:
                          Operating Income: 688000000
                          Revenue: 1062000000
                      2024Q2:
                        Commodity Insights:
                          Operating Income: 245000000
                          Revenue: 516000000
                        Corporate:
                          Operating Income: -38000000
                  summary: 21719, business, quarterly
          description: Indicates a successful request.
        '400':
          description: Indicates that the input parameters are invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Segments
      summary: Get segments 2
      x-summary-source: derived
components:
  schemas:
    SegmentTypeEnum:
      enum:
      - business
      - geographic
      type: string
      description: '* `business` - business

        * `geographic` - geographic'
    NullEnum:
      enum:
      - null
    StartQuarterEnum:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: '* `1` - 1

        * `2` - 2

        * `3` - 3

        * `4` - 4'
    PeriodTypeBe5Enum:
      enum:
      - annual
      - quarterly
      - ytd
      - ltm
      type: string
      description: '* `annual` - annual

        * `quarterly` - quarterly

        * `ytd` - ytd

        * `ltm` - ltm'
    SegmentsRequest:
      type: object
      description: Request fields for post_segments
      properties:
        segment_type:
          oneOf:
          - $ref: '#/components/schemas/SegmentTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        period_type:
          oneOf:
          - $ref: '#/components/schemas/PeriodTypeBe5Enum'
          - $ref: '#/components/schemas/NullEnum'
        company_ids:
          type: array
          items:
            type: integer
          minItems: 1
        start_year:
          type:
          - integer
          - 'null'
          maximum: 9999
          minimum: 1000
        end_year:
          type:
          - integer
          - 'null'
          maximum: 9999
          minimum: 1000
        start_quarter:
          oneOf:
          - $ref: '#/components/schemas/StartQuarterEnum'
          - $ref: '#/components/schemas/NullEnum'
        end_quarter:
          oneOf:
          - $ref: '#/components/schemas/EndQuarterEnum'
          - $ref: '#/components/schemas/NullEnum'
        calendar_type:
          oneOf:
          - $ref: '#/components/schemas/CalendarTypeEnum'
          - $ref: '#/components/schemas/NullEnum'
        num_periods:
          type:
          - integer
          - 'null'
          maximum: 99
          minimum: 1
        num_periods_back:
          type:
          - integer
          - 'null'
          maximum: 99
          minimum: 0
      required:
      - company_ids
    EndQuarterEnum:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: '* `1` - 1

        * `2` - 2

        * `3` - 3

        * `4` - 4'
    LineItem:
      type: object
      properties:
        name:
          type: string
        value:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,22}(?:\.\d{0,6})?$
        sources:
          type: array
          items: {}
      required:
      - name
      - value
    Period:
      type: object
      properties:
        period_end_date:
          type: string
          format: date
        num_months:
          type:
          - integer
          - 'null'
        line_item:
          $ref: '#/components/schemas/LineItem'
      required:
      - line_item
      - num_months
      - period_end_date
    SegmentsCurrencyResponse:
      type: object
      properties:
        currency:
          type:
          - string
          - 'null'
        periods:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Period'
      required:
      - currency
      - periods
    CalendarTypeEnum:
      enum:
      - fiscal
      - calendar
      type: string
      description: '* `fiscal` - fiscal

        * `calendar` - calendar'
    SegmentsResponse:
      type: object
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SegmentsCurrencyResponse'
        errors:
          type: object
          additionalProperties:
            type: string
            title: error
      required:
      - errors
      - results
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
