openapi: 3.2.0
info:
  title: LLM-ready Users API
  version: 0.1.0
  description: S&P Global Market Intelligence kFinance dataset via LLM-Ready API
servers:
- url: https://kfinance.kensho.com
tags:
- name: Users
paths:
  /api/v1/users/permissions:
    get:
      operationId: users_permissions_retrieve
      description: Return a list of all permissions that the request user has.
      security:
      - cookieAuth: []
      - Kensho_JWT_Auth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionsResponse'
          description: Indicates a successful request.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Users
      summary: Users permissions retrieve
      x-summary-source: derived
  /api/v1/users/refresh_access_token:
    get:
      operationId: Refresh Access Token
      description: Refresh a client's access token, given their valid refresh token.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
              examples:
                RefreshAccessTokenExample:
                  value:
                    access_token: <a very long token>
                  summary: send a refresh token, get an access token
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Users
      summary: Refresh access token
      x-summary-source: derived
    post:
      operationId: Refresh Access Token_2
      description: Refresh a client's access token, given their valid refresh token.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefreshToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RefreshToken'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
              examples:
                RefreshAccessTokenExample:
                  value:
                    access_token: <a very long token>
                  summary: send a refresh token, get an access token
          description: Indicates a successful request.
        '400':
          description: Indicates that the query is invalid.
        '403':
          description: Indicates that the authorization information is missing or invalid.
      tags:
      - Users
      summary: Refresh access token 2
      x-summary-source: derived
components:
  schemas:
    RefreshToken:
      type: object
      properties:
        refresh_token:
          type: string
      required:
      - refresh_token
    AccessToken:
      type: object
      properties:
        access_token:
          type: string
      required:
      - access_token
    PermissionsResponse:
      type: object
      description: Response fields for get_permissions
      properties:
        permissions:
          type: array
          items:
            type: string
      required:
      - permissions
  securitySchemes:
    Kensho_JWT_Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
